html {
    width: auto;
    height: auto;
}

body {
    width: 100%;
    height: auto;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ff0000' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

header {    
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    color: white;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    
}

#logo {
    width: 140px;
    height: auto;
    align-self: center;
    position: relative;
    left: 10px;
}

h2 {
    font-size: 1.5rem;
    color: lightskyblue;
    font-family: 'Neucha', cursive;   
}

textarea,
textarea:hover,
textarea:focus {
    width: 100%;
    height: 300px;
    border: none;
    background: transparent;
    outline: none;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
}

::placeholder {
    color: lightcyan;
    font-size: 1.5rem;
}

.main {
    display: flex;
    flex-direction: row;
}

.box {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    margin: 20px auto;
    border-radius: 15px;
    
}

.box_message {
    width: 150%;
}

.box_salida {
    background-color: rgba(108, 171, 221,0.2);
    
    
}

.out {
    width: auto;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen {
    width: 160px;
    height: auto;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    width: 150px;
    height: auto;
    border-radius: 8px;
    background: turquoise;
    font-size: 1.5rem;
    color: darkred;
}

#encriptar {
    position: relative;
    left: auto;
}

#desencriptar {
    position: relative;
    right: auto;
}

#copiar {
    position: absolute;
    bottom: 10px;
}

.invisible {
    display: none;
}

@media screen and (max-width: 480px) {
    body {
        width: 100%;
        font-size: 1rem;
        
    }

    header {
        display: block;
        text-align: center;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box_message {
        width: auto;
    }

    
}